<%- contentFor('title') %>
    Cuisines Management

    <%- contentFor('body') %>

        <h1>All Cuisines</h1>

        <h2>Search</h2>



        <h2>Found Cuisines</h2>
        <!-- <div>
            <a class="btn btn-primary" href="/customers/create">Create</a>
        </div> -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cuisine Name</th>
                </tr>
            </thead>
            <tbody>
                <% for (let c of cuisines) { %>
                    <tr>
                        <td>
                            <%= c.cusines.cuisine_id %>
                        </td>
                        <td>
                            <%= c.cusines.cuisine_name %>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                                href="/cuisine/<%= c.cuisines.cuisine_id %>/update">Update</a>

                            <a class="btn btn-danger btn-sm" href="/cuisine/<%= c.cuisines.cuisine_id %>/delete">
                                Delete
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>