<%- contentFor('title') %>
    Offer Management

    <%- contentFor('body') %>
        <h1>Offer Management</h1>
        <h2>Search</h2>
        <form method="GET" class="mt-2 mb-2">
            <div>
                <label>Offer Description</label>
                <input type="text" name="offer_description" class="form-control" value="<%= searchParams.offer_description %>" />
            </div>
            <div>
                <label>Expiry Time</label>
                <input type="datetime-local" name="expiry_time" class="form-control" value="<%= searchParams.expiry_time || '' %>" />
            </div>

            <button class="btn btn-primary mt-3">Search</button>
        </form>


        <h2>Found Offers</h2>
        <div>
            <a class="btn btn-primary" href="/offer/create">Create New Offer</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Offer Description</th>
                    <th>Expiry Time</th>
                    <th>Creation Date</th>
                    <th>Vendor</th>
                </tr>
            </thead>
            <tbody>
                <% offers.forEach(o=> { %>
                    <tr>
                        <td>
                            <%= o.offer_id %>
                        </td>
                        <td>
                            <%= o.offer_description %>
                        </td>
                        <td>
                            <%= new Date(o.expiry_time).toLocaleDateString("en-GB") %>
                        </td>
                        <td>
                            <%= new Date(o.created_at).toLocaleDateString("en-GB") %>
                        </td>
                        <td>
                            <% let matchedVendor=vendors.find(v=> v.vendor_id === o.vendor_id); %>
                                <p class="form-control-plaintext">
                                    <%= matchedVendor ? matchedVendor.vendor_name : 'Unknown Vendor' %>
                                </p>
                                <input type="hidden" name="vendor_id" value="<%= o.vendor_id %>" />
                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm" href="/offer/<%= o.offer_id %>/update">
                                Update
                            </a>
                            <a class="btn btn-danger btn-sm" href="/offer/<%= o.offer_id %>/delete">
                                Delete
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>