<%- contentFor('title') %>
    Update Offer

    <%- contentFor('body') %>
        <h1>Update Offer</h1>
        <form method="POST">
            <div>
                <label class="form-label fw-bold">Offer Description</label>
                <input type="text" class="form-control" name="offer_description"
                    value="<%= offer.offer_description %>" />
            </div>
            <div>
                <label class="form-label fw-bold">Expiry Time</label>
                <input type="datetime-local" class="form-control" name="expiry_time" value="<%= new Date(offer.expiry_time).toISOString().slice(0, 16) %>" />
            </div>
            <div>
                <label class="form-label fw-bold">Vendor</label>
                <select name="vendor_id" class="form-control">
                    <% vendors.forEach((v)=> { %>
                        <option value="<%= v.vendor_id %>" <%=(v.vendor_id===offer.vendor_id) ? 'selected' : '' %>>
                            <%= v.vendor_name %>
                        </option>
                        <% }) %>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>